extends ../base.pug


block content 
    div#videoContainer(data-id=video._id)
        video(src="/"+video.fileUrl )
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value=0, min="0")#timeline
            div.videoControls__volume   
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume.videoControls__timeBar
                span#mute
                    i.fas.fa-volume-up
            div 
                span#fullScreen    
                    i.fas.fa-expand
    div.video__info
        h2.video__title #{video.title}
        div.video__owner
            a(href=`/users/${video.owner._id}`)
                        img(src="/"+video.owner.avatarUrl, width="45", height="45").avatar
            a(href=`/users/${video.owner._id}`).video__owner-name #{video.owner.name}
        div.video__detail
            div
                small 조회수
                span.video__date #{video.meta.views}
                small 회 #{video.createdAt.toISOString().substr(0, 10)}
                ul 
                    each hashtag in video.hashtags
                        li.video__hashtags
                            span #{hashtag}
            div
                p=video.description
    if String(video.owner._id) === String(loggedInUser._id)
        div.video__onlyowner
            a(href=`${video.id}/edit`).link Edit Video &rarr;
            br
            a(href=`${video.id}/delete`).video__delete Delete Video
    if loggedIn
        form.video__add-comments#commentForm
            div 
                img(src="/"+loggedInUser.avatarUrl, width="40", height="40").avatar
            input(type="text", name="comment", placeholder="댓글 추가...")
            button 댓글
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    a(href=`/users/${comment.owner._id}`)
                        img(src="/"+comment.owner.avatarUrl, width="40", height="40").avatar
                    div
                        div.comment__owner
                            a(href=`/users/${comment.owner._id}`).link #{comment.owner.name} 
                            span • #{comment.createdAt.toISOString().substr(0, 10)}
                        span  #{comment.text}
                    if String(comment.owner._id) === String(loggedInUser._id)
                        button#deleteBtn
                            i.fas.fa-trash-can
                hr

block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")